html, body, #root, .app {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.app {
  .vid, .source {
    position: absolute;
    top: 320px;
    left: 0;
    transform: scale(.5);
    transform-origin: 0 0;
  }

  .source {
    left: 0;
    top: 0;
    width: 640px;
    height: 640px;

    overflow: hidden;
    video {
      height: 100%;
      transform: translateX(-12.5%) scaleX(-1);
    }

  }
  canvas {
    background: black;
    transform: scale(.5);
    transform-origin: 0 0;
  }

  .canvas1 {
    left: 320px;
  }
  .canvas2 {
    left: 640px;
    position: absolute;
    // left: 320px;
    top: 0;
  }

  .final {
    position: absolute !important;
    top: 320px;
    left: 320px;
    width: 640px;
    height: 640px;

    canvas {
      transform: none !important
    }
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

